@model IEnumerable<project.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>



<p>
    @Html.ActionLink("Yeni Kayıt Oluşturma", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="example" class="ui celled table" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiparisNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiparisTutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musteri.Adi)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisTutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.Adi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
