@model project.Bayi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bayi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BayiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BayiKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayiKodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
